body{
    margin: 0;
}
.container{
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    border-bottom: solid;
    border-color: gray;
}

.navbar{
    background-color: rgb(118, 183, 105);
    height: 10vh;
    width: 100%;
    position: absolute;
    border-style: dashed;
    border-color: gray;
}
.menu-left{
    background-color: lightblue;
    height: 100%;
    width: 20%;
    float: left;
    border-style: solid;
    border-color: gray;
}
.content{
    background-color: rgb(231, 66, 66);
    height: 100%;
    width: 60%;
    float: right;
    border-style: solid;
    border-color: gray;

}
.menu-right{
    background-color: lightblue;
    height: 100%;
    width: 20%;
    float: right;
    order: 2;
    margin-left: auto;
    border-style: solid;
    border-color: gray;
}